/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

/* HEADER */
.header {
    width: 100%;
    margin: auto;
    height: 60px;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding-bottom: 50px;
    align-items: center;
} 



.header-container  {
    width: 70%;
    margin: auto;
    height: 70px;
    border-bottom: 1px solid white;
}

/* CONTAINER */
.container {
    width: 70%;
    margin: auto;
    height: 80vh;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* ARROW */
.arrow {
    font-size: 30px;
    cursor: pointer;
    color: white;
}

/* IMG */
.image {
    width: 80%;
}

.active {
    display: block;
}

.container img {
    width: 100%;
    display: none;
}
.container img.active {
    display: block;
}

/* TEST */
.greyscale {
    filter: grayscale(100%);
}

.greyarrow {
    color: lightgrey;
}

.logo {
    width: 100px;
}

.home,
.gallery,
.contactus {
    color: white;
    text-transform: uppercase;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: grey;
}


